@charset "UTF-8";

@font-face {
  font-family: "exe";
  src:url("fonts/exe.eot");
  src:url("fonts/exe.eot?#iefix") format("embedded-opentype"),
    url("fonts/exe.woff") format("woff"),
    url("fonts/exe.ttf") format("truetype"),
    url("fonts/exe.svg#exe") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "exe" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "exe" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-entity:before {
  content: "\61";
}
.icon-indicators:before {
  content: "\62";
}
.icon-init:before {
  content: "\63";
}
.icon-inversion:before {
  content: "\64";
}
.icon-program:before {
  content: "\65";
}
.icon-types:before {
  content: "\66";
}
.icon-logout:before {
  content: "\67";
}
.icon-entidad:before {
  content: "\68";
}
.icon-consultas:before {
  content: "\69";
}
.icon-archivo:before {
  content: "\6a";
}
.icon-facebook:before {
  content: "\6b";
}
.icon-home:before {
  content: "\6c";
}
.icon-huella:before {
  content: "\6d";
}
.icon-twitter:before {
  content: "\6e";
}
.icon-youtube:before {
  content: "\6f";
}
.icon-instagram:before {
  content: "\70";
}
