.c-container-dashboard{
  max-width: 1700px;

  &--small{
    max-width: 1000px;
  }
}
.c-form-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  position: relative;
  
  &__container{
    width: 100%;
    text-align: center;
  }
  &__inputs{
    .layout{
      margin-left: -.5em;
      margin-right: -.5em;
    }
  }
  .c-btn-return{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 56px !important;

    i{
      display: inherit;
      font-size: 50px;
    }
  }
  .v-btn{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 55px;
  }
  p{
    margin: 1.5em auto;
    text-align: justify;
  }
  a{
    text-decoration: none;
  }
  h2{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: .5em;
  }
  .flex{
    padding: 0 .5em;
  }
  &__description{
    text-align: center !important;
    margin-bottom: 3em !important;
    margin-top: 0 !important;
    line-height: 1.7;
  }
  
  @media (min-width: 1264px){
    &__container{
      max-width: 550px;
    }
  }

}
.v-input.v-text-field--box{
  .v-input__slot{
    background: #F5F6FD !important;

    &:hover{
      background: lighten(#DCDDE7,7) !important;
    }
  }
}
.c-slider{
  background: #ccc;

  &-dashboard.v-window{
    .v-carousel__controls{
      background: transparent;
    }
    
    .v-responsive__content{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: linear-gradient(rgba(#000,.3),transparent,rgba(#000,.7));

      padding: 1em 1em 3em;
      color: white;
      font-size: 2em;
      text-align: center;

      h3{
        font-weight: 400;
        line-height: 1.1;
        max-width: 550px;
      }
    }
  }
}
.c-logo__intro{
  position: absolute;
  top: 2em;
  left: 5%;
  z-index: 10;
  width: 90%;

  img{
    display: block;
    height: 3em;

    @media (max-width: 960px){
      margin: 0 auto;
    }
  }
}
.v-btn{
  box-shadow: 0 0 0 0 transparent !important;
  &.v-btn--floating{
    box-shadow:  0 0 0 0 transparent !important;
  }
}

.c-data-table{
  thead{
    tr{
      border-bottom: 1px solid rgba(#81D7EA,.3) !important;
    }
    
  }
  tr:hover &__status{
    background-color: var(--v-primary-darken1);
  }
  &__status{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--v-primary-base);
    transition: all .3s;
  }
  &__entity{
    display: flex;
    align-items: center;

    img{
      display: block;
      margin-right: 1em;
      width: 2.8em;
    }
  }

  td{
    text-align: center;
  }
}
.c-navbar{
  display: flex;
  flex-direction: column;

  &__spacing{
    width: 80px;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &.active{
      width: 250px;
    }
  }

  .v-list__tile{
    font-size: 14px;
  }

  &.theme--dark{
    background: #222323;
  }
  &__logo{
    .v-toolbar__content{
      height: 75px !important;

      .v-list__tile{
        height: 65px !important;

        .v-avatar{
          width: 45px !important;
          height: 45px !important;
          img{
            border-radius: 0;
          }
        }
        
        &__title{
          height: 100%;
          display: flex;
          align-items: center;

          img{
            width: 85%;
          }
        }
      }
    }
  }
  &__list{
    margin-top: 0 !important;
    .v-list__tile:not(.v-list__tile--avatar){
      height: 50px;
    }
    &--user{
      a{
        height: 60px !important;

        &:hover{
          background: transparent !important;
        }
        .v-list__tile__title{
          height: auto;;
          p{
            margin-bottom: 0;
            line-height: 1;
            font-size: 1.1em;
          }
          span{
            color: var(--v-error-lighten2);
            font-size: .95em;
          }
        }
        
      }
    }
    &--footer{
      margin-top:  auto !important;
      margin-bottom: 1em;

      a{
        text-transform: uppercase;
        &:hover{
          background: transparent !important;
        }
      }
    }
  }
}

.c-dashboard{
  &-input{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  &-title{
    display: flex;
    text-transform: uppercase;
    align-items: flex-start;
    padding-top: .5em;
    font-size: 1.4em;

    div{
      display: flex;
      align-items: center;

      h2{
        margin-left: .5em;
      }
    }
  }
}
.c-verify-entity{

  &__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;

    &-small, &-large{
      padding: 0 1em;
    }
    &-small{
      width: 30%;
    }
    &-large{
      width: 70%;
      padding-bottom: 2em;
    }
  }
  &__upload{
    display: block;
    img{
      display: block;
      width: 143px;
      height: 143px;
      margin:0 auto;
      background-size: cover;
      background-position: center center;
    }
    p{
      text-align: center;
      font-size: .9em;
      padding: .5em 1em;
      max-width: 160px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    input{
      display: none;
    }
  }
  &__spacer{
    display: block;
    height: 1em;
    width: 100%;
  }
  .layout{
    margin: 0 -.5em;
    .flex{
      padding: 0 .5em;
    }
  }
  &__inputs-equals{
    display: flex;
    width: 100%;

    .v-textarea{
      height: 100%;

      .v-input__control{
        height: 100%;

        .v-input__slot{
          height: 89%;
        }
        
      }
    }
  }
  &__title{
    font-size: 1.7em;
    margin-bottom: .1em;
    font-weight: 400;
  }
  &__subtitle{
    font-size: 1.1em;
  }
  &__add-contact{
    color: var(--v-primary-base);
    font-size: 1.1em;
    font-weight: 500;
  }
  &__span{
    color: #a5a5a5;
    padding: 0 1.5rem;
  }
  &__add-program{
    padding: 1em 1.5rem;

    &__item{
      display: flex;
      align-items: center;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(0,0,0,0.12);

      img{
        display: block;
        margin:  0 1.2rem 0 0;
        height: 4.7rem;
        width: 4.7rem;
        object-fit: cover;
      }
      .information{
        margin-right: auto;
        p{
          margin: 0;
          font-size: 1.2em;
        }
      }
      &:last-child{
        border-bottom: none;
      }

    }
  }
  &__radios{
    label{
      color: black !important;
    }
    p{
      padding-left: 2.1em;
    }
  }
  &__submit{
    height: 60px;
    padding: 0 4em;
  }
  &__section{
    position: relative;
    height: 100%;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform:translateX(-50%);
      width: 3px;
      height: 100%;
      background-color: var(--v-primary-base);
    }

    span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 1.4em;
      color: white;
      margin: 0 auto;
      position: relative;
      background-color: var(--v-primary-base);
    }
    &--final{
      &:before{
        display: none;
      }
    }
    &.complete{
      span{
        background-color: var(--v-secondary-base);
      }
      &:before{
        background-color: var(--v-secondary-base);
      }
    }
  }
}
.c-accept-entity{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;

  h2{
    font-size: 2.5em;
    margin-top: 1em;
  }
  p{
    text-align: center;
    line-height: 1.5;
    padding-bottom: 4em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(black, 0.1);
  }

  img{
    display: block;
    margin-top: 1em;
  }
}
.c-check-entity{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  border: 2px solid rgb(85, 189, 85);
  border-radius: 50%;
  margin: 2em 0;
  i{
    font-size: 5em;
    color: rgb(85, 189, 85) !important;
  }
}
.c-register{
  text-align: center;
  max-width: 650px;

  &__forms{
    display: flex;

    &__item{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 5em 2em;
      margin-top: 3em;
      transition: all .3s;

      &:hover{
        background: rgba(#81D7EA,.1);
      }

      h3{
        font-size: 1.6em;
      }
      i{
        display:block;
        font-size: 6em;
        margin-top: .3em;
      }
      p{
        text-align: center;
        margin-top: 0;
      }
      .v-btn{
        margin-top: auto;
      }
    }
  }
  &__particular{
    &__radio{
      margin-bottom: .7em;
      .v-input__slot{
        margin-bottom: .2em !important ;
      }
      .v-input--radio-group__input{
        display: flex;
        flex-direction: row;

        div{
          margin-bottom: 0 !important;
        }
      }
    }
  }
}