.c-container-dashboard{
  max-width: 1700px;
}
.c-form-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  
  &__container{
    width: 100%;
    text-align: center;
  }
  .v-btn{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 55px;
  }
  p{
    margin: 1.5em auto;
    text-align: justify;
  }
  a{
    text-decoration: none;
  }
  h2{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: .7em;
  }
  .flex{
    padding: 0 .5em;
  }
  
  @media (min-width: 1264px){
    &__container{
      max-width: 500px;
    }
  }

}
.c-form-home{
  position: relative;

  .c-btn-return{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 56px;

    i{
      display: inherit;
      font-size: 50px;
    }
  }
}
.v-input.v-text-field--box{
  .v-input__slot{
    background: #F5F6FD !important;

    &:hover{
      background: lighten(#DCDDE7,7) !important;
    }
  }
}
.c-slider{
  background: #ccc;
}
.c-slider-dashboard.v-window{
  .v-carousel__controls{
    background: transparent;
  }
  .v-responsive__content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(rgba(#000,.3),transparent,rgba(#000,.7));

    padding: 1em 1em 3em;
    color: white;
    font-size: 2em;
    text-align: center;

    h3{
      font-weight: 400;
      line-height: 1.1;
    }
  }
}
.c-logo__intro{
  position: absolute;
  top: 2em;
  left: 5%;
  z-index: 10;
  width: 90%;

  img{
    display: block;
    height: 3em;

    @media (max-width: 960px){
      margin: 0 auto;
    }
  }
}
.v-btn{
  box-shadow: 0 0 0 0 transparent !important;
  &.v-btn--floating{
    box-shadow:  0 0 0 0 transparent !important;
  }
}

.c-data-table{
  thead{
    tr{
      border-bottom: 1px solid rgba(#81D7EA,.3) !important;
    }
    
  }
  tr:hover &__status{
    background-color: var(--v-primary-darken1);
  }
  &__status{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--v-primary-base);
    transition: all .3s;
  }
  &__entity{
    display: flex;
    align-items: center;

    img{
      display: block;
      margin-right: 1em;
      width: 2.8em;
    }
  }

  td{
    text-align: center;
  }
}
.c-navbar{
  display: flex;
  flex-direction: column;

  &.theme--dark{
    background: #222323;
  }
  &__logo{
    .v-toolbar__content{
      height: 75px !important;

      .v-list__tile{
        height: 65px !important;

        .v-avatar{
          width: 45px !important;
          height: 45px !important;
          img{
            border-radius: 0;
          }
        }
        
        &__title{
          height: 100%;
          display: flex;
          align-items: center;

          img{
            width: 85%;
          }
        }
      }
    }
  }
  &__list{
    margin-top: 0 !important;
    .v-list__tile:not(.v-list__tile--avatar){
      height: 50px;
    }
    &--user{
      a{
        height: 60px !important;

        &:hover{
          background: transparent !important;
        }
        .v-list__tile__title{
          height: auto;;
          p{
            margin-bottom: 0;
            line-height: 1;
            font-size: 1.1em;
          }
          span{
            color: var(--v-error-lighten2);
            font-size: .95em;
          }
        }
        
      }
    }
    &--footer{
      margin-top:  auto !important;
      margin-bottom: 1em;

      a{
        text-transform: uppercase;
        &:hover{
          background: transparent !important;
        }
      }
    }
  }
}